@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.banner{
    width: 100%;
    height: 90vh;
    background: rgb(165, 165, 6, 97%);
    position: relative;
}

.banner img {
    position: absolute;
    bottom: 0;
}

.banner-title{
    font-family:"Nunito", sans-serif;
    position: absolute;
    top: 40%;
    right: 10%;
}