.ant-drawer-content{
    background: rgb(17, 17, 17, 100%) !important;
}

.ant-drawer-close{
    display: none !important;
}

.ant-steps-item-title, .ant-steps-item-description{
    color: white !important;
}